<div ng-controller='BrowseController' id='browse' class='vbox'>
    <div class='flex' id='browselist'>
        <div class='header'>
            <div class='breadcrumbs hbox'>

                <div class='breadcrumb hbox aligncenter back' ng-click='pop()' ng-show='can_back'>
                    <div class='backarrow'>
                        <img src='images/back.png'></img>
                    </div>
                    <div class='text clickable'>
                        Back
                    </div>
                </div>

                <div class='breadcrumb hbox aligncenter back' ng-show='!can_back'>
                    <div class='backarrow'>
                        <img src='images/back.png'></img>
                    </div>
                    <div class='text disabled'>
                        Back
                    </div>
                </div>

                <div class='breadcrumb hbox' ng-repeat='level in levels' ng-click='popto(level)'>
                    <div class='sep' ng-show='level != levels[0] && !level.video'>&gt;</div>
                    <div class='text clickable' ng-show='!level.video'>{{level.item.title}}</div>
                </div>
            </div>
        </div>

        <div class='body vbox'>
            <div ng-show='level.is_loading' class='loading hbox aligncenter packcenter flex'>
                <img src='images/spinner.gif' alt='Loading...'>
            </div>

            <div ng-show='!level.exists && !level.is_loading' class='browseitem hbox aligncenter packcenter flex'>
                <div class='noresults'>
                    No results found
                </div>
            </div>

            <div ng-show="level.title != null" class='vbox alignstretch details'>
                <div class='hbox alignstretch'>
                    <div class='left'>
                        <img ng-show='level.image' width='160' src='{{level.image}}' alt='{{level.title}}'></img>
                        <div ng-show='!level.image' class='bigplaceholder'></div>
                    </div>
                    <div class='right flex'>
                        <div class='title'>{{level.title}}</div>
                        <div class='subtitle' ng-repeat='subtitle in level.subtitles'>{{subtitle}}</div>

                        <div class='hbox alignstretch actions'>
                            <div ng-click='doaction(action)' ng-repeat='action in level.actions' class='hbox action clickable aligncenter packcenter'>
                                <img src='{{action.icon}}' alt='{{action.name}}'></img>
                                <div class='text'>{{action.name}}</div>
                            </div>
                        </div>

                        <div class='subsubtitle' ng-repeat='metadata in level.metadata'>     
                            <span class='label'>{{metadata.label}}</span> {{metadata.value}}
                        </div>
                    </div>
                </div>
                <div class='description' ng-show='level.description' class='alignstretch'>
                    <p>{{level.description}}</p>
                </div>
            </div>

            <div class='hbox alignstretch abovelist'>

            </div>

            <div ng-show='level.exists' ng-repeat='item in level.items' class='clickable browseitem hbox' ng-click='browse(item, item.path)'>
                <div class='image' ng-show='item.canHaveImage'> 
                        <ng-switch on='item.image != undefined'>
                            <img ng-switch-when='true' width='80' src='{{item.image}}' alt='{{item.title}}'></img>
                            <div ng-switch-when='false' class='placeholder'>
                        </ng-switch>
                    </div>
                </div>
                <div class='flex' title='{{item.technical}}'>
                    <div class='title'>{{item.title}}</div>
                    <div class='subtitle' ng-repeat='subtitle in item.subtitles'>{{subtitle}}</div>
                    <div class='subsubtitle' ng-repeat='metadata in item.metadata'>     
                        <span class='label'>{{metadata.label}}</span> {{metadata.value}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
